/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2837", "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";
	
	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
			aeldbme280@76 {
				compatible = "custom,aeldbme280";
				reg = <0x76>;
			};
		};
	};
};
